<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Randomizer</title>
</head>
<body>
    <form id="randomizer_form" method="POST" action="/cards">
        <div>{{form.base}}{{form.base.label}}</div>
        <div>{{form.intrigue}}{{form.intrigue.label}}</div>
        <div>{{form.prosperity}}{{form.prosperity.label}}</div>
        <div>{{form.seaside}}{{form.seaside.label}}</div>
        <div>{{form.darkages}}{{form.darkages.label}}</div>

        <br />

        <div>{{form.randomize_button}}</div>
    </form>

    <div id="cards"></div>

<script src="../static/js/jquery-1.11.3.min.js"></script>
<script src="../static/js/scripts.js"></script>
</body>
</html>