<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Randomizer</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
</head>
<body>
    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
        {% for error in field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
    {% endfor %}
    <form id="randomizer_form" method="GET" action="/">
        <div>{{form.base}}{{form.base.label}}</div>
        <div>{{form.intrigue}}{{form.intrigue.label}}</div>
        <div>{{form.seaside}}{{form.seaside.label}}</div>
        <div>{{form.alchemy}}{{form.alchemy.label}}</div>
        <div>{{form.prosperity}}{{form.prosperity.label}}</div>
        <div>{{form.cornucopia}}{{form.cornucopia.label}}</div>
        <div>{{form.hinterlands}}{{form.hinterlands.label}}</div>
        <div>{{form.darkages}}{{form.darkages.label}}</div>
        <div>{{form.guilds}}{{form.guilds.label}}</div>
        <div>{{form.adventures}}{{form.adventures.label}}</div>
        <label for="blacklist">{{form.blacklist.label}}</label>
        <div id="blacklist">{{form.blacklist}}</div>

        <br />

        <div>{{form.randomize_button}}</div>
    </form>
    <br />
    <div id="card_container">
        {% for link in links %}
            <div class="card">
                <img src="{{link}}">
            </div>
        {% endfor %}
    </div>

<a href="http://github.com/JarettRoman/dominion">Github page</a>
</body>
</html>